#hero {
    background-image: url("./public/images/hero_bg.jpg");
    background-color: #C9DFF2;
    background-repeat: no-repeat;
    height: 100vh;
    background-position: center;
    background-size: cover;
    display: grid;
    max-width: none;
    margin: 0;
}

#hero h1 {
    font-family: ten-mincho-text, serif;
    font-weight: 400;
    font-style: italic;
    color: #F2DC4E;
    font-size: 10rem;
    display: inline;
}

#hero h2 {
    font-family: ten-mincho-text, serif;
    font-weight: 400;
    font-style: italic;
    color: white;
    font-size: 3rem;
    margin-top: 5rem;
    margin-bottom: -70px;
}

#desu {
    display: inline;
}

#hero h3 {
    font-family: ten-mincho-text, serif;
    font-weight: 400;
    font-style: italic;
    color: white;
    font-size: 2rem;
    margin-bottom: 50px;
    text-align: center;
}

#hero-text {
    position: relative;
    top: 20vh;
    margin: 0 auto;
    filter: drop-shadow(0 2px 25px #000000);
}

#hero-text div {
    margin: 0 auto;
}

#hero-text h2 {
    text-indent: 5rem;
}

#catchphrase {
    display: block;
    line-height: 0.5rem;
    margin-left: -15vw;
}

#hero-text span {
    display: inline;
    padding: 0.1rem 0.2rem;
    background-color: #3365A6;
}

mark {
    color: white;
    -webkit-animation: 1.5s highlight 1.5s 1 normal forwards;
    animation: 1.5s highlight 1.5s 1 normal forwards;
    background-color: none;
    background: linear-gradient(90deg, #3365A6 50%, rgba(255, 255, 255, 0) 50%);
    background-size: 200% 100%;
    background-position: 100% 0;
}

@-webkit-keyframes highlight {
    to {
        background-position: 0 0;
    }
}

#scroll-down {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    filter: drop-shadow(0 2px 25px #000000);
}

#scroll-down span {
    color: white;
    font-size: 4rem;
    margin-top: -2rem;
}

#char-container {
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
    align-items: stretch;
    gap: 3rem;
    flex-wrap: wrap;
}

#char-container div {
    width: 380px;
}

#characteristic h2,
#characteristic h3 {
    text-align: center;
}

#characteristic h3 {
    font-size: 1.6rem;
}

#characteristic p {
    margin: 3vh auto;
    width: 90%;
}

.border-line {
    border-style: solid;
    border-color: #517EA6;
    border-width: 2px;
    padding: 2rem 0.5rem;
    height: 80%;
    box-sizing: border-box;
}

#onkatsu p {
    width: 500px;
    font-size: 1.3rem;
    text-indent: 2rem;
}

#onkatsu-container img {
    width: 40vw;
}

#onkatsu-container {
    display: flex;
    margin: 0 auto;
    width: 70vw;
    align-items: center;
    justify-content: center;
}

#instagram-container {
    display: flex;
    justify-content: center;
    width: fit-content;
    margin: 0vw auto;
}

@media only screen and (width <= 1300px) {
    #onkatsu-container {
        flex-direction: column-reverse;
    }

    #onkatsu-container img {
        width: 70vw;
        max-width: 500px;
    }
}

@media only screen and (width <= 768px) {
    #hero h1 {
        font-size: 25vw;
        padding-top: 100vh;
    }
    #hero-text div h2 {
        display: none;
        font-size: 5vw;
        margin-bottom: 0.2vh;
    }

    #hero-text h3 {
        font-size: 1.5rem;
    }

    #desu {
        display: none;
    }

    #scroll-down h3 {
        display: none;
    }

    #catchphrase {
        display: none;
    }

    #char-container {
        gap: 0;
    }

    #char-container div {
        width: 80vw;
        max-width: 350px;
    }

    .border-line {
        box-sizing: border-box;
    }

    #characteristic p {
        width: fit-content;
    }

    #onkatsu p {
        width: fit-content;
        font-size: 1rem;
    }
}