.comment-container {
    display: flex;
    justify-content: center;
}

.comment-container h2 {
    width: 200px;
}

.comment-container p {
    flex: 0 1 30rem;
}

.img-container  {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-container img {
    margin: 5vh 1vw;
}

.img-container span {
    font-size: 3rem;
    color: #3365A6;
    margin: 0 1vw;
}

#arrow-right1, #arrow-right2 {
    display: block;
}

#arrow-down1, #arrow-down2 {
    display: none;
}

@media only screen and (width <= 768px) {
    .comment-container {
        flex-direction: column;
        margin: 1rem;
    }

    .comment-container p {
        width: fit-content;
        flex: none;
    }

    .img-container {
        flex-direction: column;
    }

    .img-container img {
        margin: 1rem;
        height: auto;
        max-width: 300px;
    }

    #arrow-right1, #arrow-right2 {
        display: none;
    }

    #arrow-down1, #arrow-down2 {
        display: block;
    }
}