#q-a-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
}

.q-a {
    width: 30vw;
    min-width: 350px;
}

.q-a p {
    margin-top: 1vh;
    margin-left: 2rem;
    text-indent: 2rem;
}

h1 {
    padding-top: 10vh;
}

#q-a-section {
    margin-top: 0;
}

@media only screen and (width <= 768px) {
    #q-a-container {
        flex-direction: column;
    }

    .q-a {
        width: fit-content;
        min-width: fit-content;
    }

    .q-a p {
        margin: 1rem 0 0 0;
    }

    #q-a-section {
        padding: 1rem;
        max-width: 500px;
    }
}